version: '3.8'

services:

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ./backend:/var/www/html          # код и public монтируются внутрь
      # - /var/www/html/vendor
    environment:
      - DB_CONNECTION=mysql
      - DB_HOST=db
      - DB_PORT=3306
      - DB_DATABASE=cardealership
      - DB_USERNAME=root
      - DB_PASSWORD=123456
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    ports:
      - "8000:80"                        # извне заходим на 8000 → nginx:80
    volumes:
      - ./backend:/var/www/html:ro       # только чтение для nginx
      - ./.develop/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend
    networks:
      - app-network

  db:
    image: mysql:8.0
    ports:
      - "3308:3306"
    environment:
      MYSQL_DATABASE: cardealership
      MYSQL_ROOT_PASSWORD: 123456
    volumes:
      - ./.docker/db-init:/docker-entrypoint-initdb.d
    networks:
      - app-network

  adminer:
    image: adminer:4.8.1
    ports:
      - "8080:8080"
    environment:
      ADMINER_DEFAULT_SERVER: mysql
      ADMINER_DEFAULT_USER: root
      ADMINER_DEFAULT_DB: cardealership
      ADMINER_DESIGN: dracula
    networks:
      - app-network
    depends_on:
      - db    

networks:
  app-network:
    driver: bridge

