// change the theme
$theme-colors: (
  "dark": #242424,
  "light": #E0E0E0,
  "info": #FFFFFF,
  "secondary": #4b4b4b,
  "success": #068a01,
  "primary": #e6e6e6,
  "warning": #DEBD00,
);

$container-max-widths: (
  sm: 540px,
  md: 768px,
  lg: 1024px,
  xl: 1400px
);

$list-group-border-radius: 0;
$form-select-border-radius: 0;
$form-select-focus-box-shadow: 0 0 0 #FFFFFF;

// Import Bootstrap and its default variables
@import 'bootstrap/scss/bootstrap.scss';